* {
	padding: 0;
	margin: 0;
	font-family: 'Arial', sans-serif;
	box-sizing: border-box;
}
body {
	height: 100%;
	margin: 0;
	background-color: var(--global-back-color);
	color: black;
}
span {
	display: inline-block;
	margin: 15px 0;
}
li {
	padding: 10px;
	list-style-type: none;
}
a {
	color: black;
	text-decoration: none;
}
img {
	border-radius: 7px;
}
.lvl1font {
	font-size: 17px;
	font-style: italic;
}
.lvl2font {
	font-size: 20px;
	font-weight: bold;
}
.lvl3font {
	font-size: 22px;
	font-family: cursive;
}
.flex {
	display: flex;
}
.flex-wrap {
	flex-wrap: wrap;
}
.justify-center {
	justify-content: center;
}
#logo {
	width: 150px;
	height: 140px;
}
.top-panel {
	background-color: var(--top-panel-color);
	margin-left: auto;
	margin-right: auto;
	border: solid;
	max-width: 70em;
	height: 9.1em;
	border-radius: 7px;
}
.buttons-subpanel {
	padding: 10px;
	align-items: center;
	margin: auto;
}
.top-buttons {
	padding: 7px;
	margin: 0 15px;
}
.top-buttons:hover {
	cursor: pointer;
	background-color: var(--hover-color);
	border-radius: 7px;
}
.contacts-subpanel {
	padding: 10px 0;
	margin: auto;
}
.contacts-subpanel p {
	padding: 8px;
}
.containerSwitcher {
	margin: auto;
	padding: 10px;
}
#themeSwitcher {
	width: 80px;
	height: 50px;
	cursor: pointer;
}
.aside-subpanel {
	padding: 20px;
	width: 12em;
}
.listElement:hover {
	cursor: pointer;
	background-color: var(--hover-color);
	border-radius: 7px;
}
.unavailableItem {
	color: #FF8888
}
.main-panel {
	margin-left: auto;
	margin-right: auto;
	max-width: 70em;
	background-color: white;
	height: 42em;
	border-radius: 7px;
}
.article-text-area {
	padding: 20px 60px 20px 20px;
	width: 58em;
}
.article-text-area p {
	padding: 15px 0;
}
.articleImages {
	width: 300px;
	height: 230px;
}
.picturesLeft {
	float: left;
	padding: 20px 20px 20px 0px;
}
.picturesRight {
	float: right;
	padding: 20px 0px 20px 20px;
}

/*Applicable to the second page: Gallery*/

.imageContainer {
	width: 70em;
	margin: auto;
}
.imageContainer img {
	width: 240px;
	height: 160px;
	margin: 7px;
}
.imageContainer img:hover {
	border: solid;
	border-color: red;
}

/*Applicable to the third page: Registration*/

.headerRegistration {
	max-width: 30em;
	padding: 30px;
	margin: auto;
	text-align: center;
}
.reg-form {
	max-width: 30em;
	padding: 20px 40px 20px 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 7px;
}
.reg-form label {
	float: right;
	padding: 10px;
}
.inputForm {
	margin-bottom: 12px;
	width: 290px;
	padding: 3px;
}
.inputForm::placeholder {
	color: #D20000;
	font-style: italic;
	font-weight: bold;
	font-size: 13px;
}
.saveButtonContainer {
	max-width: 30em;
	margin: auto;
	padding: 20px;
}
.saveButton {
	padding: 14px;
	margin: 15px;
}

/*Dark theme*/

.darkMainPanel {
  	background-color: darkslategrey;
  	color: whitesmoke;
}
.darkGlobalBackground {
	background-color: var(--darkGlobalBackground-color);
}
.darkTopPanel {
	background-color: var(--darkTopPanel-color);
  	color: whitesmoke;
  	border-color: black;
}
.darkTopButtons {
	color: whitesmoke;
}
.listElementDark:hover, .darkTopButtons:hover {
	cursor: pointer;
	background-color: var(--darkTheme-hover-color);
	border-radius: 7px;
}