:root {
	--global-back-color: #E5E5E5;
	--top-panel-color: #FFFCC9;
	--hover-color: #DDDDDD;
	--darkGlobalBackground-color: #3B685D;
	--darkTopPanel-color: #2E452D;
	--darkTheme-hover-color: #22371F;
}